<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {{# current_post }}{{ current_post.title }}{{/ current_post }}
    {{^ current_post }}{{ cosmic.object.header.metadata.site_title }}{{/ current_post }}
  </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <header class="header">
    <h1 class="site-title">
      <a href="/">{{ cosmic.object.header.metadata.site_title }}</a>
    </h1>
    <div>
      {{^ cosmic.objects.type.posts }}
        No posts.
      {{/ cosmic.objects.type.posts }}
    </div>
  </header>
