{{> header }}
  <main class="container">
    <div class="card-author">
      <div class="card-padding">
        <h2 class="blog__title blog__title--small">
          About Me
        </h2>
        <div class="blog__author">
          <div class="blog__description">
            What's up internetizens. My name is James. I am a software engineer currently working in Tokyo.<br />
            <br />
            I'll be sharing some of my experiences here.
          </div>
          <div class="blog__links">
            <img height="16" width="16" src="http://proxy.duckduckgo.com/ip3/github.com.ico" /><a href="http://github.com/JamesLee92"> GitHub</a>
            <br />
            <img src="https://duckduckgo.com/assets/icons/favicons/soundcloud.png" /><a href="https://soundcloud.com/takingiteasy"> Soundcloud</a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    {{# cosmic.objects.type.posts }}
      <div class="card" data-href="/{{ slug }}">
        {{# metadata.hero.imgix_url }}
          <div class="blog-post-hero blog-post-hero--short" style="background-image: url({{ metadata.hero.imgix_url }})"></div>
        {{/ metadata.hero.imgix_url }}
        <div class="card-padding">
          <h2 class="blog__title blog__title--small">
            <div class="blog__date">{{ friendly_date }}</div> <a href="/{{ slug }}">{{ title }}</a>
          </h2>

          <div class="blog__teaser droid">{{{ metadata.teaser }}}</div>
          <div class="blog__read-more">
            <a href="/{{ slug }}">Read more...</a>
          </div>
        </div>
      </div>
    {{/ cosmic.objects.type.posts }}
  </main>
{{> footer }}
