{{> header }}
  <main class="main">
    {{^ current_post }}
      <div class="container">
        <h1>Page not found</h1>
      </div>
    {{/ current_post }}
    {{# current_post }}
      {{# metadata.hero.imgix_url }}
        <div class="blog-post-hero" style="background-image: url({{ metadata.hero.imgix_url }})"></div>
      {{/ metadata.hero.imgix_url }}
      <div class="container">
        <h2 class="blog__title">
          <a href="/{{ slug }}">{{ title }}</a>
        </h2>
        <div class="blog__author">
          <div class="blog__author-title">by {{ metadata.author.title }} on {{ friendly_date }}</div>
          <div class="clearfix"></div>
        </div>
        <div class="blog__content droid">{{{ content }}}</div>
        <div class="blog__tags">
          {{# metadata.categories }}
            <span class="tag-pill" href="">{{ title }}</span>
          {{/ metadata.categories }}
        </div>
      </div>
    {{/ current_post }}
  </main>
{{> footer }}
